.app-container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex-grow: 2;
    background-image: url('../../public/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pass{
    position: relative;
}

.togglepass{
    position: absolute;
    right : 7px;
    top: 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .left-panel {
        display: none;
    }
}

.right-panel {
    flex-grow: 1;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.login-box {
    width: 70%;
    height: auto;
}

.login-box .logo {
    margin-bottom: 30px;
    text-align: center;
}

.login-box .logo img {
    width: 200px;
}

.welcome {
    font-size: 24px;
    margin-bottom: 20px !important;
    color: #000000;
    text-align: center;
    opacity: 0.5;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 16px 12px;
}

.forgot {
    color: #ed3237;
    text-decoration: none;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* justify-content: end; */
    /* cursor: pointer; */
}

.remember-me label {
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}

input[type="checkbox"] {
    accent-color: #D9534F;
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #ed3237;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}