.tiles {
    position: relative;
    /* background-color: #EEEEEE; */
    display: flex;
    flex-direction: row;
    margin: 4px;
    gap: 8px;
    height: calc(100vh - 82px);
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

@media (max-width: 1080px) {
    .tiles {
        display: flex;
        flex-direction: column;
    }
}