.cam-container {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  /* display: flex;
  width: 100%; */
}

.cameras {
  display: grid;
  overflow-y: auto;
  height: 70vh;
  width: 54vw;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed3237;
  font-size: 12px;
  padding: 0 10px;
}

.header p {
  color: #ffff;
}

.cam-container button {
  cursor: pointer;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  font-weight: bold;
  color: #ffff;
  z-index: 999;
}

.video-container {
  position: relative;
  width: 30vw;
  border: 1px solid #ababab;
  /* height: 100%; */
  /* margin: auto;
  border: 1px solid #fff; */
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Navigation buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;

  /* hidden by default */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* left & right positioning */
.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* show on hover */
.video-container:hover .nav-btn {
  opacity: 1;
}
