.cam-container {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(82, 79, 79);
    display: flex;
    flex-direction: column;
}

.cameras {
    display: grid;
    overflow-y: auto;
    height: 70vh;
    width: 70vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ed3237;
    font-size: 12px;
}

.header p {
    color: #ffff;
}

.cam-container button {
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    font-weight: bold;
    color: #ffff;
    z-index: 999;
}